---
import type { Project } from "../data/projects";
import ProjectHighlights from "./ProjectHighlights.astro";
import ProjectTechnologies from "./ProjectTechnologies.astro";
import { Code, ExternalLink } from "@lucide/astro";

const { project } = Astro.props as { project: Project };
const { image, name, resume, highlights, tecnologies, demoUrl, repoUrl } = project;
---

<article class="bg-gray-800 rounded-2xl shadow-md hover:shadow-xl transition-all p-6 flex flex-col h-full border border-gray-700">
  <img
    src={image}
    alt={`Preview de ${name}`}
    class="rounded-lg mb-5 aspect-video object-cover border border-gray-700"
  />

  <h3 class="text-2xl font-bold text-white mb-2">{name}</h3>

  <p class="text-sm text-gray-400 mb-4 leading-relaxed">
    {resume}
  </p>

  <ProjectHighlights highlights={highlights} />

  <ProjectTechnologies tecnologies={tecnologies} />

  <div class="flex gap-6 mt-auto pt-4 border-t border-gray-700">
    <a
      href={demoUrl}
      target="_blank"
      class="text-amber-400 hover:text-amber-300 font-semibold text-sm inline-flex items-center gap-1"
    >
      <ExternalLink class="w-4 h-4" />
      Ver demo
    </a>
    <a
      href={repoUrl}
      target="_blank"
      class="text-gray-300 hover:text-white font-semibold text-sm inline-flex items-center gap-1"
    >
      <Code class="w-4 h-4" />
      Ver código
    </a>
  </div>
</article>
